h1, p, span, a {
    color: #000;
}

.message-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.messages-storage {
    background-color: #4c4c4c;
    border: 2px solid white;
    max-height: 400px;
    margin: 0 auto;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
}